<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Refresh Schedule</h4>
</div>
<div class="modal-body">
    <p>
        <label>
            Repeat every
            <query-interval-picker query="$ctrl.query" save-query="$ctrl.saveQuery"></query-interval-picker>
        </label>
    </p>
    <p>
        <label ng-show="showTimePicker">
            At the following time:
            <query-time-picker query="$ctrl.query" save-query="$ctrl.saveQuery"></query-time-picker>
        </label>
    </p>
    <p>
        <label ng-show="showDays">
            On the following day:
            <query-day-picker query="$ctrl.query" save-query="$ctrl.saveQuery"></query-day-picker>
        </label>
    </p>
    <p>
        <label>
          Stop scheduling at date/time (format yyyy-MM-ddTHH:mm:ss, like 2016-12-28T14:57:00):
          <schedule-until query="$ctrl.query" save-query="$ctrl.saveQuery"></schedule-until>
        </label>
    </p>
</div>
